@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet');

:root {
    --font: 'Fira Sans', sans-serif;
    
    --background: #262626;
    --selection:#262626;
    --fontColor:#00ffaa;
    --white:#00ffaa;
}

body{
    background-color: var(--background);
    color: var(--white);
}

footer{
    text-align: center;

    color:var(--fontColor);

    font-family: var(--font);
    font-size: 14px;
    font-weight: 430;
}

#userPhoto{
    width: 96px;
    height: 96px;

    display: block;

    margin: 35px auto 20px;

    border-radius: 50%;
    border: solid var(--white) 4px;
}

#userName, h1 {
    width: 100%;

    color: var(--fontColor);

    font-family: var(--font);
    font-size: 25px;
    font-weight: 500;

    text-align: center;
    text-decoration: none;

    line-height: 1.25;
    display: block;
}

.descriptionName{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.00;
    display: block;
}

#links{
    max-width: 675px;
    width: auto;

    display: block;

    margin: 27px auto;
}

video {
    object-fit: contain;
}

.link{
    display: block;
    margin-bottom: 22px;
    padding: 17px;

    background-color: var(--background);
    color:var(--fontColor);

    font-family: var(--font);
    font-size: 17px;
    font-weight: 500;

    border-radius: 15px;
    border: solid var(--fontColor) 1px;

    text-align: center;
	text-transform:uppercase;
    text-decoration: none;
    transition: all .30s cubic-bezier(.08,.59,.29,.99);
}

.link img{
    display: block;

    width: 35px;
    height: 35px;
    
    position: absolute;
    margin: -6.6px auto;

    filter: invert(74%) sepia(87%) saturate(1770%) hue-rotate(100deg) brightness(110%) contrast(101%);
}

.description{
	font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
	text-transform:uppercase;
	font-weight: 400;
}
.link:hover{
    background-color: var(--fontColor);
    color: #1a1a1a;
	border-radius: 45px;
    border: solid var(#30ff94) 1px;
}
.link:hover img{
    filter: invert(13%) sepia(1%) saturate(1134%) hue-rotate(34deg) brightness(98%) contrast(93%);
}

.container01 {
    display: flex;
}

.container01 video{
    justify-content: center;
}

.video-css {
    width: 720;
    height: 405;
}